.mediaradar__wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.mediaradar__search {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #367153;
  border-radius: 30px;
  padding: 30px;
  width: 60%;
  gap: 15px;
}

.search__title {
  font-size: 28px;
}

.search__form {
  display: flex;
  gap: 10px;
  border: 1px solid rgb(180, 181, 181);
  padding: 15px;
  border-radius: 5px;
}

.search__input {
  &::placeholder {
    color: #cdcdcd;
    opacity: 0.7;
  }
}

.search__btn {
  background: rgb(180, 181, 181);
  padding: 5px 10px;
  border-radius: 5px;
}

.mediaradar__catalog {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.catalog__title {
  font-size: 28px;
}

.catalog__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 50px;
  justify-content: center;
}

.item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 3px solid #77a58d;
  padding: 20px 15px 10px;
  border-radius: 10px;
  background: #367153;

  & img {
    width: 200px;
    height: 300px;
    border: 3px solid white;
    border-radius: 10px;
  }
}
