.form__wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-color);
  border-radius: 30px;
  padding: 30px;
  width: 60%;
  gap: 15px;
}
