.header__wrapper {
  position: relative;
  margin: 0;
  padding: 15px;

  border: 3px solid var(--main-color);;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0 0 20px 20px;

  background: var(--main-color);;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__item-text {
    font-size: 18px;
    font-weight: 600;
}

.nav__item-icon {
  width: 50px;
}

#logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 32px;
  font-weight: bold;
}
