services:
  django:
    build: .
    container_name: media-radar
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./data/:/usr/src/app/data/