{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'radar/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'radar/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'radar/favicon/favicon-16x16.png' %}">
    {% block extra_css %}{% endblock %}
    {% block scripts %}{% endblock %}
    <title>MediaRadar</title>
  </head>

  <body>
    <header>
      {% include "radar/components/header.html" %}
    </header>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
