{% extends "radar/base.html" %}

{% block content %}
  <h1>MediaRadar</h1>

  <form method="get">
    <input name="q" value="{{ q }}" placeholder="Найти сериал/шоу...">
    <button type="submit">Искать</button>
  </form>

  {% if q %}
    <h2>Результаты поиска</h2>
    <ul>
      {% for t in search_results %}
        <li>
          {{ t.name }}
          {% if t.cover_url %}<img src="{{ t.cover_url }}" width="60">{% endif %}
        </li>
      {% empty %}
        <li>Ничего не найдено</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}