{% extends "radar/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'radar/styles/home.css' %}" />
{% endblock %}

{% block content %}
<div class="mediaradar__wrapper container">
  <div class="mediaradar__search form__wrapper">
    <h2 class="search__title">Поиск</h2>
    <form method="get" class="search__form input-form">
      <input name="q" class="search__input" value="{{ q }}" placeholder="Введите название...">
      <button class="search__btn btn btn--search" type="submit">Искать</button>
    </form>
  </div>
  <div class="mediaradar__catalog">
    {% if q %}
      <h2 class="catalog__title">Результаты поиска</h2>
      <ul class="catalog__list">
        {% for t in result %}
          <li class="catalog__item">
            {% include "radar/components/title.html" %}
          </li>
        {% empty %}
          <p class="catalog__empty">Ничего не найдено...</p>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}