{% extends "radar/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'radar/styles/subscriptions.css' %}" />
{% endblock %} 

{% block content %}
<div class="subscriptions__catalog container">
{% if subs %}
    <h2 class="catalog__title">Подписки</h2>
    <ul class="catalog__list">
    {% for t in subs %}
        <li class="catalog__item">
            {% include "radar/components/title.html" %}
        </li>
    {% empty %}
        <p class="catalog__empty">Ничего не найдено...</p>
    {% endfor %}
    </ul>
{% endif %}
</div>
{% endblock %}