body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--bg);
  color: white;
}

button {
  background: var(--btn-bg);
  padding: 5px 10px;
  border-radius: 5px;
}

input::placeholder {
  color: var(--placeholder-color);
  opacity: 0.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 28px;
}
