body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--bg);
  color: white;
}

button,
.btn {
  background: var(--btn-bg);
  padding: 5px 10px;
  border-radius: 5px;
}

input::placeholder {
  color: var(--placeholder-color);
  opacity: 0.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 28px;
}

.error {
  color: rgb(236, 72, 91);
}

select {
  border: 1px #fff solid;
  border-radius: 5px;
  option {
    color: #000;
  }
}
