// Base
@use 'base/reset';
@use 'base/base';
@use 'base/fonts';
@use 'base/vars';

// Layots
@use 'layouts/container';

// Components
@use 'components/form_wrapper';
@use 'components/inputform';
@use 'components/header';
@use "components/form";
@use "components/telegram_widjet";

.profile__wrapper {
    align-items: normal;
    width: fit-content;
}

.profile-field {
    display: flex;
    align-items: center;
}

.profile__logout-btn {
    margin-top: 25px;
    align-self: center;
}

.social-binding {
    display: flex;
    gap: 10px;
}