// Base
@use 'base/reset';
@use 'base/base';
@use 'base/fonts';
@use 'base/vars';

// Layots
@use 'layouts/container';

// Components
@use 'components/form_wrapper';
@use 'components/inputform';
@use 'components/header';

.profile__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.profile-label {
    font-weight: 600;
}

.profile__logout-btn {
    margin-top: 25px;
}