// Base
@use "base/reset";
@use "base/base";
@use "base/fonts";
@use "base/vars";

// Layots
@use "layouts/container";

// Components
@use "components/form_wrapper";
@use "components/inputform";
@use "components/header";

.reg__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reg__title {
  align-self: center;
}

.btn--tologin {
  $main-color: #367153;
  background: darken($color: $main-color, $amount: 7%);
  text-align: center;
}
